---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string; stars?: string }[] = [
	{
		desc: "Gen AI CLI to talk to your AWS,literally.",
		href: "https://chatwithcloud.ai",
		title: "ChatWithCloud",
	},
	{
		desc: "Professional GUI Client for DynamoDB.",
		href: "https://dynobase.dev",
		title: "Dynobase",
	},
	{
		desc: "Realtime Monitoring solution for Node.js/Express.js apps",
		href: "https://github.com/RafalWilinski/express-status-monitor",
		title: "express-status-monitor",
		stars: "3.6k",
	},
	{
		desc: "Your LLM assistant available in Telegram",
		href: "https://github.com/RafalWilinski/telegram-chatgpt-concierge-bot",
		title: "telegram-chatgpt-concierge-bot",
		stars: "1.1k",
	},
];

const history: { desc: string; href: string; title: string; dates: string }[] = [
	{
		desc: "Kickstarted AI team, leading multiple gen AI projects",
		href: "https://vendr.com",
		title: "AI Tech Lead @ Vendr",
		dates: "2022 - Present",
	},
	{
		desc: "Kickstarted and scaled a SaaS from $0 to $150k ARR",
		href: "https://dynobase.dev",
		title: "Founder @ Dynobase",
		dates: "2019 - Present",
	},
	{
		desc: "Building fault-tolerant and multi-region systems on AWS",
		href: "https://stedi.com",
		title: "Serverless Engineer @ Stedi",
		dates: "2020 - 2022",
	},
	{
		desc: "Leading & developing solutions on top of AWS",
		href: "https://x-team.com",
		title: "Cloud Engineer @ X-Team",
		dates: "2017 - 2020",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Shalom</h1>
		<p class="mb-4">
			Hi, I’m Rafal. Currently AI Tech Lead @ Vendr. I am also the creator of
			<a class="cactus-link" href="https://dynobase.dev/">Dynobase</a> and <a
				class="cactus-link"
				href="https://chatwithcloud.ai/">ChatWithCloud</a
			>. Passionate about applied AI, LLMs, RAGs and agents.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Work History</h2>
		<dl class="space-y-4">
			{
				history.map(({ desc, href, title, stars }) => (
					<div class="flex flex-col gap-1 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								-{"   "}
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title, stars }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								{stars && <span class="ml-1 text-xs text-gray-500">{stars}★</span>}:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
